<style>
    #editDevLuxValueSlider .slider-selection {
        background: #BABABA;
    }
</style>

<!-- Edit device modal -->
<div class="modal fade" id="editUnitModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{__ "Light-EditUnit"}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <h3>{{__ "Light-Summary"}}</h3>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h6>{{__ "Light-UnitNo"}}:</h6>
                    </div>
                    <div class="col-md-4 ">
                        <h6 id="editDevUnitno"></h6>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h6>{{__ "Light-Description"}}:</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 id="editDevDescript"></h6>
                    </div>
                    <div class="col-md-4>">
                        <button id="changeDescription" type="button" class="btn btn-primary">{{__
                                "Light-ChangeDescription"}}</button>
                    </div>
                    <div id="changeDescripInput" class="form-group row" style="display: none">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="{{__ "Light-Description"}}"
                                   id="newDescriptInput">
                        </div>
                        <div class="col-md-3">
                            <button id="saveNewDescript" class="btn btn-success">{{__ "Light-Save"}}</button>
                        </div>
                        <div class="col-md-3">
                            <button id="cancelNewDescript" class="btn btn-danger">{{__ "Light-Cancel"}}</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h6>{{__ "Light-Group"}}:</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 id="editDevGroup"></h6>
                    </div>
                    <div class="col-md-4">
                        <button id="changeGroup" type=button class="btn btn-primary">{{__ "Light-ChangeGroup"}}</button>
                    </div>
                </div>
                <div id="changeGroupInput" class="form-group row" style="display: none">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a id="changeGroupSelected" class="btn dropdown-toggle btn-primary" data-toggle="dropdown"
                               href="#">
                                {{__ "Light-SelectGroup"}}
                                <span class="caret"></span></a>
                            <ul id="groupValuesChange" class="dropdown-menu">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button id="saveChangeGroup" class="btn btn-success">{{__ "Light-Save"}}</button>
                    </div>
                    <div class="col-md-3">
                        <button id="cancelChangeGroup" class="btn btn-danger">{{__ "Light-Cancel"}}</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <h4>{{__ "Light-ControlUnitLux"}}</h4>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <p>{{__ "Light-ControlUnitLuxExplain"}}</p>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class=col-md-2>
                        <input id="editDevLuxCheck" type="checkbox" data-toggle="toggle">
                    </div>
                    <div class="col-md-10">
                        <input id="editDevLuxValue" data-slider-id='editDevLuxValueSlider' type="text" data-slider-min="0" data-slider-max="200"
                               data-slider-step="10"/>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-md-3">
                        <button id="deleteDevice" type="button" class="btn btn-danger">{{__
                                "Light-DeleteDevice"}}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{__ "Light-Cancel"}}</button>
                <button id="saveChangeDevice" type="button" class="btn btn-primary">{{__ "Light-Save"}}</button>
            </div>
        </div>
    </div>
</div>