<div id="updatePasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{__ "Change-Password"}}</h4>
            </div>
            <form class="modal-body" id="updatePasswordForm">
                <div class="form-group">
                    <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="{{__ "Old-Password"}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="{{__ "New-Password"}}">
                </div>
                <div class="form-group">
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="{{__ "Confirm-Password"}}">
                </div>
                <div class="modal-footer">
                    <button id="confirmUpdate" type="submit" class="btn btn-success" data-dismiss="modal" onclick="updatePassword()"><span class="glyphicon glyphicon-ok"></span> {{__ "Update"}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> {{__ "Close"}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#updatePasswordForm").bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            newPassword: {
                validators: {
                    notEmpty: {
                        message: '{{__ "Field-Not-Empty"}}'
                    },
                    identical: {
                        field: 'confirmPassword',
                        message: '{{__ "Password-Mismatch"}}'
                    },
                    stringLength:{
                        message:"{{__ "Password-Length"}}",
                        min: 6
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: '{{__ "Field-Not-Empty"}}'
                    },
                    identical: {
                        field: 'newPassword',
                        message: '{{__ "Password-Mismatch"}}'
                    },
                    stringLength:{
                        message:"{{__ "Password-Length"}}",
                        min: 6
                    }
                }
            }
        }
    }).on('status.field.bv', function(e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });

    function updatePassword() {
        $.post("/updateUserPassword", {
            oldPassword: $("#oldPassword").val(),
            newPassword: $("#confirmPassword").val(),
        }).done(function (data) {
            console.log("DATA" + JSON.stringify(data));
            var retur = JSON.stringify(data);
            if (retur.length > 3) { //TODO: Fiks bedre sjekk her.
                $("#changePasswordMessage").addClass("alert-success col-md-12 text-center").removeClass("alert-danger").html("{{__ "Profile-Password-Changed-Success"}}").css("display", "block");
            } else {
                $("#changePasswordMessage").addClass("alert-danger col-md-12 text-center").removeClass("alert-success").html("{{__ "Profile-Password-Changed-Failure"}}").css("display", "block");
            }

            $("#updatePasswordModal").on("hidden.bs.modal", function(){
                //TODO: Fiks hva som skjer når modellen lukkes
            });
            setTimeout(function () {
                $("#changePasswordMessage").fadeOut("slow");
                window.location.reload(true);
            }, 2000);
        });
    }
</script>