<form id="updateProfileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{__ "Profile-My-Profile"}}</h4>
            </div>
            <div class="modal-body">
                <div class="firstnameDiv form-group has-feedback">
                    <input type="text" name="firstname" id="firstname" class="form-control" placeholder="{{__ "Firstname"}}" autofocus>
                    <span id="firstnameErrorToggle" class="glyphicon form-control-feedback"></span>
                </div>

                <div class="surnameDiv form-group has-feedback">
                    <input type="text" name="surname" id="surname" class="form-control" placeholder="{{__ "Surname"}}">
                    <span id="surnameErrorToggle" class="glyphicon form-control-feedback"></span>
                </div>
                <div class="addressDiv form-group has-feedback">
                    <input type="text" name="address" id="address" class="form-control" placeholder="{{__ "Address"}}">
                    <span id="addressErrorToggle" class="glyphicon form-control-feedback"></span>
                </div>
                <div class="postalCodeDiv form-group has-feedback">
                    <input type="text" name="postalCode" id="postalCode" class="form-control" placeholder="{{__ "PostalCode"}}">
                    <span id="postalCodeErrorToggle" class="glyphicon form-control-feedback"></span>
                </div>
                <div class="cityDiv form-group has-feedback">
                    <input type="text" name="city" id="city" class="form-control" placeholder="{{__ "City"}}">
                    <span id="cityErrorToggle" class="glyphicon form-control-feedback"></span>
                </div>
                <div class="emailDiv form-group has-feedback">
                    <input type="text" name="email" id="email" class="form-control" placeholder="{{__ "Email"}}">
                    <span id="emailErrorToggle" class="glyphicon form-control-feedback"></span>
                </div>
                <div class="modal-footer">
                    <button id="confirmUpdate" type="submit" class="btn btn-success" onclick="updateProfile()"><span class="glyphicon glyphicon-ok"></span> {{__ "Update"}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> {{__ "Close"}}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('#updateProfileModal').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                firstname: {
                    validators: {
                        notEmpty: {
                            message: '{{__ "Field-Not-Empty"}}'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '{{__ "Field-Characters-Check"}}'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z]+$/,
                            message: '{{__ "Field-Firstname-Regex"}}'
                        }
                    }
                },
                surname: {
                    validators: {
                        notEmpty: {
                            message: '{{__ "Field-Not-Empty"}}'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '{{__ "Field-Characters-Check"}}'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z]+$/,
                            message: '{{__ "Field-Surname-Regex"}}'
                        }
                    }
                },
                address: {
                    validators: {
                        notEmpty: {
                            message: '{{__ "Field-Not-Empty"}}'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '{{__ "Field-Characters-Check"}}'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z]+$/,
                            message: '{{__ "Field-Address-Regex"}}'
                        }
                    }
                },postalCode: {
                    validators: {
                        notEmpty: {
                            message: '{{__ "Field-Not-Empty"}}'
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: '{{__ "Field-PostalCode-Characters-Check"}}'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: '{{__ "Field-PostalCode-Regex"}}'
                        }
                    }
                },
                city: {
                    validators: {
                        notEmpty: {
                            message: '{{__ "Field-Not-Empty"}}'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '{{__ "Field-Characters-Check"}}'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z]+$/,
                            message: '{{__ "Field-City-Regex"}}'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: '{{__ "Email-Required"}}'
                        },
                        emailAddress: {
                            message: '{{__ "Email-Not-Valid"}}'
                        }
                    }
                }
            }
        });
    });

    function updateProfile() {
        var bootstrapValidator = $("#updateProfileModal").data("bootstrapValidator");
        bootstrapValidator.validate();

        if(bootstrapValidator.isValid()){
            $.post("/updateProfile", {
                firstname: $("#firstname").val(),
                surname: $("#surname").val(),
                address: $("#address").val(),
                postalCode: $("#postalCode").val(),
                city: $("#city").val(),
                email: $("#email").val()
            });
            window.location.reload(true);
        }
    }
</script>