<style type="text/css">

    html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-sm-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-sm-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-sm-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-sm-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-sm-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-sm-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-sm-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-sm-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-sm-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-sm-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-sm-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
        position: relative;
        height: 100%;
        min-height: 1px;
        padding-right: 0;
        padding-left: 0;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

</style>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    socket.on('serialEvent', function (data) {

        var tempValue = document.getElementById('tempValue');
        tempValue.innerHTML=data.Temperature+'&#8451;';
        if(tempValue<5){
            tempValue.style.color="#42a7f4";
        }
        if(tempValue>5 && tempValue < 30) {
            tempValue.style.color = "#40bf43";
        }
        if(tempValue>30){
            tempValue.style.color="#f46e41";
        }
    });


</script>
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <script src="http://www.yr.no/sted/Norge/Sør-Trøndelag/Trondheim/Trondheim/ekstern_boks_stripe.js"></script>
                        <noscript><a href="http://www.yr.no/sted/Norge/Sør-Trøndelag/Trondheim/Trondheim/">yr.no: Værvarsel for Trondheim</a></noscript>
                        <h1 id="tempValue"></h1>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body"> {{__ "Calendar-Event"}}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-7">
            <div id='calendar'></div>
        </div>
    </div>

    <div id="addEventModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{__ "Event-Add"}}</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input type="text" name="eventTitle" id="eventTitle"  class="form-control" placeholder="{{__ "Event-Title"}}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="eventDescription" id="eventDescription"  class="form-control" placeholder="{{__ "Event-Description"}}">
                    </div>

                    <div class='input-group date form-group'>
                        <input type='text' class="form-control" id='eventStart' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <div class='input-group date form-group'>
                        <input type='text' class="form-control" id='eventEnd'/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addEvent()">{{__ "Add"}}</button>
                </div>
            </div>

        </div>
    </div>

    <div id="viewDescriptionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{__ "Event-Description"}}</h4>
                </div>
                <div class="modal-body">
                    <p class="form-group" name="description" id="description"></p>
                </div>
                <div class="modal-footer">
                    <button id="deleteEventButton" type="button" class="btn btn-danger" data-dismiss="modal">{{__ "Delete"}}</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{__ "Close"}}</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            header:{
                left: 'addEvent',
                center: 'title',
                right: 'today, prev, next'
            },
            events: '/getEvents',

            customButtons:{
                addEvent :{
                    text:"{{__ "Event-Add"}}",
                    click: function(){
                        $("#addEventModal").modal('show');
                    }
                }
            },

            eventClick: function(calEvent){
                $("#viewDescriptionModal").modal("show");
                $("#description").html(calEvent.description);
                $("#deleteEventButton").click(function () {
                    deleteEvent(calEvent.id)
                });
            },

            editable: true,
            eventDrop: function(event){
                var start = event.start.format("YYYY-MM-DD HH:MM");
                var end = event.end.format("YYYY-MM-DD HH:MM") || start;

                updateEvent(event.id, start, end);
            }
        });
        $("#eventStart, #eventEnd").datetimepicker({
            format: "YYYY-MM-DD HH:MM"
        });
    });



    function addEvent(){
        $.post("/addEvent", {
            title: $("#eventTitle").val(),
            start:$("#eventStart").val(),
            end:$("#eventEnd").val(),
            description:$("#eventDescription").val()
        })
    window.location.reload(true);
    };

    function deleteEvent(eventId){
        $.post("/deleteEvent",{
            id: eventId
        })
        window.location.reload(true);
    };

    function updateEvent(eventId, eventStart, eventEnd){
        $.post("/updateEvent", {
            id: eventId,
            start: eventStart,
            end: eventEnd
        });
        window.location.reload(true);
    };

</script>
