<div id="addEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{__ "Event-Add"}}</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <input type="text" name="eventTitle" id="eventTitle" class="form-control" placeholder="{{__ "Event-Title"}}">
                </div>

                <div class="form-group">
                    <input type="text" name="eventDescription" id="eventDescription" class="form-control" placeholder="{{__ "Event-Description"}}">
                </div>

                <div class='input-group date form-group' id="eventStartCalendarGlyph">
                    <input type='text' class="form-control" id='eventStart'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <div class='input-group date form-group' id="eventEndCalendarGlyph">
                    <input type='text' class="form-control" id='eventEnd'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <div class="form-group">
                    <div class="button-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"> Legg til deltakere <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 1</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addEvent()">{{__ "Add"}}</button>
            </div>
        </div>
    </div>
</div>

<div id="newEvent" hidden>{{__ "Calendar-New-Event"}}</div>