<div id="addEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{__ "Event-Add"}}</h4>
            </div>
            <div class="modal-body">

                <div class="eventTitleDiv form-group has-feedback">
                    <input type="text" name="eventTitle" id="eventTitle" class="form-control" placeholder="{{__ "Event-Title"}}">
                    <span id="titleErrorToggle" class="form-control-feedback glyphicon"></span>
                </div>

                <div class="eventDescriptionDiv form-group has-feedback">
                    <input type="text" name="eventDescription" id="eventDescription" class="form-control" placeholder="{{__ "Event-Description"}}">
                    <span id="descriptionErrorToggle" class="form-control-feedback glyphicon"></span>
                </div>

                <div class='input-group date form-group' id="eventStartCalendarGlyph">
                    <input type='text' class="form-control" id='eventStart'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <div class='input-group date form-group' id="eventEndCalendarGlyph">
                    <input type='text' class="form-control" id='eventEnd'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <div id="addEventAlert" class="form-group bg-danger" hidden></div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-group">
                            <button id="participantsListButton" type="button"
                                    class="btn btn-default btn-sm dropdown-toggle pull-left" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-plus"></span> {{__ "Calendar-Add-Participants"}}<span
                                    class="caret"></span></button>
                            <ul id="participantsList" class="dropdown-menu">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addEvent()">{{__
                        "Add"}}</button>
            </div>
        </div>
    </div>
</div>

<div id="newEvent" hidden>{{__ "Calendar-New-Event"}}</div>
