<div id="updateEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{__ "update"}}</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <input type="text" name="updateEventTitle" id="updateEventTitle" class="form-control" placeholder="{{__ "Event-Title"}}">
                </div>

                <div class="form-group">
                    <input type="text" name="updateEventDescription" id="updateEventDescription" class="form-control" placeholder="{{__ "Event-Description"}}">
                </div>


                <div class='input-group date form-group' id="updateEventStartCalendarGlyph">

                    <input type='text' class="form-control" id='updateEventStart'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>


                <div class='input-group date form-group' id="updateEventEndCalendarGlyph">
                    <input type='text' class="form-control" id='updateEventEnd'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-group">
                            <button id="updateParticipantsListButton" type="button"
                                    class="btn btn-default btn-sm dropdown-toggle pull-left" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-plus"></span> Legg til deltakere <span
                                    class="caret"></span></button>
                            <ul id="updateParticipantsList" class="dropdown-menu">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="confirmUpdate" type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> {{__ "Update"}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> {{__ "Close"}}</button>
            </div>
        </div>

    </div>
</div>