<div class=" jumbotron text-center">
    <div class="container">
        <table id="unitTable" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>{{__ 'Light-UnitNo'}}</th>
                <th>{{__ 'Light-Description'}}</th>
                <th>{{__ 'Light-State'}}</th>
                <th>{{__ 'Light-Group'}}</th>
                <th>{{__ 'Light-Toggle'}}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>{{__ 'Light-UnitNo'}}</th>
                <th>{{__ 'Light-Description'}}</th>
                <th>{{__ 'Light-State'}}</th>
                <th>{{__ 'Light-Group'}}</th>
                <th>{{__ 'Light-Toggle'}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class=" btn-primary" id="addDeviceBtn">{{__ 'Light-AddDevice'}}</button>
        </div>
        <div class="col-md-3">
            <button class="btn-primary" id="editGroupBtn">{{__ 'Light-EditGroup'}}</button>
        </div>
    </div>
</div>

<!-- Add device modal -->
<div class="modal fade" id="addDeviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><span class="glyphicon glyphicon-cog"></span>{{__ "Light-AddDevice"}}</h3>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="descriptInput" class="col-md-2 col-form-label">{{__ "Light-Description"}}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" placeholder="{{__ "Light-Description"}}"
                               id="descriptInput">
                    </div>

                </div>
                <br>
                <div class="form-group row">
                    <h4 class="col-md-6"> {{__ "Light-AddToGroup"}}</h4>
                </div>
                <div class="form-group row">
                    <label id="groupDropdownLabel" class="col-md-2 col-form-label">{{__ "Light-SelectGroup"}}</label>
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a id="groupDropSelected" class="btn dropdown-toggle btn-primary" data-toggle="dropdown"
                               href="#">
                                {{__ "Light-SelectGroup"}}
                                <span class="caret"></span></a>
                            <ul id="groupValues" class="dropdown-menu">
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-md-3">
                        <button id="addNewGroup"><span class="glyphicon glyphicon-plus"></span>{{__
                                "Light-AddNewGroup"}}</button>
                    </div>
                    <div id="newGroupInput" class="col-md-5" style="display: none">
                        <input id="newGroup" type="text" class="form-control" placeholder="{{__ "Light-NewGroup"}}">
                    </div>
                    <div id="groupErr" class="col-md-5" style="display: none">
                        <p style="color: red">{{__ "Light-GroupError"}}</p>
                    </div>
                    <div id="addNewGroupBtns" class="col-md-4" style="display: none">
                        <button id="saveNewGroup" class="btn-success">{{__ "Light-Save"}}</button>
                        <button id="cancelNewGroup" class="btn-danger">{{__ "Light-Cancel"}}</button>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelAddDevice" class="btn btn-default" data-dismiss="modal">{{__
                        "Light-Cancel"}}</button>
                <button type="button" id="activateNewDevice" class="btn btn-save">{{__
                        "Light-Save"}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit device modal -->
<div class="modal fade" id="editDeviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">EDIT</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <h3>{{__ "Light-Summary"}}</h3>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h6>{{__ "Light-UnitNo"}}:</h6>
                    </div>
                    <div class="col-md-4 ">
                        <h6 id="editDevUnitno"></h6>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h6>{{__ "Light-Description"}}:</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 id="editDevDescript"></h6>
                    </div>
                    <div class="col-md-4>">
                        <button id="changeDescription" type="button" class="btn btn-primary">{{__
                                "Light-ChangeDescription"}}</button>
                    </div>
                    <div id="changeDescripInput" class="form-group row" style="display: none">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="{{__ "Light-Description"}}"
                                   id="newDescriptInput">
                        </div>
                        <div class="col-md-3">
                            <button id="saveNewDescript" class="btn btn-success">{{__ "Light-Save"}}</button>
                        </div>
                        <div class="col-md-3">
                            <button id="cancelNewDescript" class="btn btn-danger">{{__ "Light-Cancel"}}</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h6>{{__ "Light-Group"}}:</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 id="editDevGroup"></h6>
                    </div>
                    <div class="col-md-4">
                        <button id="changeGroup" type=button class="btn btn-primary">{{__ "Light-ChangeGroup"}}</button>
                    </div>
                </div>
                <div id="changeGroupInput" class="form-group row" style="display: none">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a id="changeGroupSelected" class="btn dropdown-toggle btn-primary" data-toggle="dropdown"
                               href="#">
                                {{__ "Light-SelectGroup"}}
                                <span class="caret"></span></a>
                            <ul id="groupValuesTest" class="dropdown-menu">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button id="saveChangeGroup" class="btn btn-success">{{__ "Light-Save"}}</button>
                    </div>
                    <div class="col-md-3">
                        <button id="cancelChangeGroup" class="btn btn-danger">{{__ "Light-Cancel"}}</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <button id="deleteDevice" type="button" class="btn btn-danger">{{__
                                "Light-DeleteDevice"}}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveChangeDevice" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit group modal -->
<div class=" modal fade" id="editGroupModal">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><span class="glyphicon glyphicon-cog"></span>{{__ "Light-EditGroup"}}</h3>
            </div>
            <div class="modal-body">
                <h4>{{__ "Light-AddNewGroup"}}:</h4>
                <hr>
                <div class=form-group row>
                    <div class = "col-md-8">
                        <input id="editGroupNewGroupInput" type="text" class="form-control">
                    </div>
                    <div class = "col-md-2 pull-right" >
                        <button id = "editGroupSaveNew" type="button" class="btn btn-success">{{__ "Light-Save"}}</button>
                    </div>
                </div>
                <div class=" form-group row" style="display: none">
                    <div class="col-md-12">
                        <p id="addGroupSucess" style="color: green"></p>
                    </div>
                    <div class = "col-md-12">
                        <p id="addGroupFail" style="color: red"></p>
                    </div>
                </div>
                <br>
                <br>
                <h4>{{__ "Light-DeleteGroup"}}?</h4>
                <table id="groupTable" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>{{__ 'Light-Group'}}</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" id="cancelEditGroup" class="btn btn-default" data-dismiss="modal">{{__
                        "Light-Cancel"}}</button>
            </div>
        </div>
    </div>

</div>
<!-- Delete device modal -->
<div class="modal fade" id="deleteDeviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{__ "Light-DeleteDevice"}}</h3>
            </div>
            <div class="modal-body">
                <h4>{{__ "Light-DeleteDevConfirm"}}</h4>
                <hr>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h5>{{__ "Light-UnitNo"}}:</h5>
                    </div>
                    <div class="col-md-4 ">
                        <h5 id="deleteDevUnitno"></h5>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h5>{{__ "Light-Description"}}:</h5>
                    </div>
                    <div class="col-md-4">
                        <h5 id="deleteDevDescript"></h5>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <h5>{{__ "Light-Group"}}:</h5>
                    </div>
                    <div class="col-md-4">
                        <h5 id="deleteDevGroup"></h5>
                    </div>
                </div>
                <br>
                <hr>
                <h4>{{__ "Light-DeleteUnpair"}}</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{__ "Light-Cancel"}}</button>
                    <button id='deleteDeviceBtn' type="button" class="btn btn-danger">{{__
                            "Light-DeleteDevice"}}</button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Save and pair device modal -->
<div class="modal fade" id="saveDeviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><span class="glyphicon glyphicon-transfer"></span>{{__ "Light-SaveDevicePrompt"}}</h3>
            </div>
            <div class="modal-body">
                <div class="jumbotron">
                    <p>{{__ "Light-SaveDeviceSummary"}} </p>
                    <br>
                    <br>
                    <ul>
                        <li>{{__ "Light-Description"}}:</li>
                        <p id="sumDescript"></p>
                        <li>{{__ "Light-Group"}}:</li>
                        <p id="sumGroup"></p>
                    </ul>
                    <br>
                    <br>
                    <button id="saveAndPair" class="btn-success">{{__ "Light-Save"}}</button>
                    <button id="cancelSavePair" class="btn-danger" data-dismiss="modal">{{__ "Light-Cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/lightScript.js"></script>
