<div class=" jumbotron text-center">
    <div class="container">
        <table id="unitTable" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>{{__ 'Light-UnitNo'}}</th>
                <th>{{__ 'Light-Description'}}</th>
                <th>{{__ 'Light-State'}}</th>
                <th>{{__ 'Light-Group'}}</th>
                <th>{{__ 'Light-Toggle'}}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>{{__ 'Light-UnitNo'}}</th>
                <th>{{__ 'Light-Description'}}</th>
                <th>{{__ 'Light-State'}}</th>
                <th>{{__ 'Light-Group'}}</th>
                <th>{{__ 'Light-Toggle'}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class=" btn-primary" id="addDeviceBtn">{{__ 'Light-AddDevice'}}</button>
        </div>
    </div>
</div>

<!-- Add device modal -->
<div class="modal fade" id="addDeviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><span class="glyphicon glyphicon-cog"></span>{{__ "Light-AddDevice"}}</h3>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="descriptInputnput" class="col-md-2 col-form-label">{{__ "Light-Description"}}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" placeholder="{{__ "Light-Description"}}"
                               id="descriptInput">
                    </div>

                </div>
                <br>
                <div class="form-group row">
                    <h4 class="col-md-6"> {{__ "Light-AddToGroup"}}</h4>
                </div>
                <div class="form-group row">
                    <label id="groupDropdownLabel" class="col-md-2 col-form-label">{{__ "Light-SelectGroup"}}</label>
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a id="groupDropSelected" class="btn dropdown-toggle btn-primary" data-toggle="dropdown"
                               href="#">
                                {{__ "Light-SelectGroup"}}
                                <span class="caret"></span></a>
                            <!-- Må oppdateres til å hente verdier fra DB -->
                            <ul id="groupValues" class="dropdown-menu">
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-md-3">
                        <button id="addNewGroup"><span class="glyphicon glyphicon-plus"></span>{{__
                                "Light-AddNewGroup"}}</button>
                    </div>
                    <div id="newGroupInput" class="col-md-5" style="display: none">
                        <input id="newGroup" type="text" class="form-control" placeholder="{{__ "Light-NewGroup"}}">
                    </div>
                    <div id="groupErr" class="col-md-5" style="display: none">
                        <p style="color: red">{{__ "Light-GroupError"}}</p>
                    </div>
                    <div id="addNewGroupBtns" class="col-md-4" style="display: none">
                        <button id="saveNewGroup" class="btn-success">{{__ "Light-Save"}}</button>
                        <button id="cancelNewGroup" class="btn-danger">{{__ "Light-Cancel"}}</button>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelAddDevice" class="btn btn-default" data-dismiss="modal">{{__
                        "Light-Cancel"}}</button>
                <button type="button" id="activateNewDevice" class="btn btn-save">{{__
                        "Light-Save"}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Save and pair device modal -->
<div class="modal fade" id="saveDeviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><span class="glyphicon glyphicon-transfer"></span>{{__ "Light-SaveDevicePrompt"}}</h3>
            </div>
            <div class="modal-body">
                <div class="jumbotron">
                    <p>{{__ "Light-SaveDeviceSummary"}} </p>
                    <br>
                    <br>
                    <ul>
                        <li>{{__ "Light-Description"}}:</li>
                        <p id="sumDescript"></p>
                        <li>{{__ "Light-Group"}}:</li>
                        <p id="sumGroup"></p>
                    </ul>
                    <br>
                    <br>
                    <button id="saveAndPair" class="btn-success">{{__ "Light-Save"}}</button>
                    <button id="cancelSavePair" class="btn-danger" data-dismiss="modal">{{__ "Light-Cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/lightScript.js"></script>
