
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3" >


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{loginUsername}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 " align="center"> <img alt="User Pic" src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" class="img-circle img-responsive"> </div>

                        <div class=" col-md-12 col-lg-12 " align="center">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>{{__ "Register-Firstname"}} :</td>
                                    <td>Programming</td>
                                </tr>
                                <tr>
                                    <td>{{__ "Register-Surname"}}</td>
                                    <td>06/23/2013</td>
                                </tr>
                                <tr>
                                    <td>{{__ "Register-Address"}}</td>
                                    <td>01/24/1988</td>
                                </tr>

                                <tr>
                                <tr>
                                    <td>{{__ "Register-PostalCode"}}</td>
                                    <td>Female</td>
                                </tr>
                                <tr>
                                    <td>{{__ "Register-City"}}</td>
                                    <td>Kathmandu,Nepal</td>
                                </tr>
                                <tr>
                                    <td>{{__ "Register-Email"}}</td>
                                    <td>kuskus</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Endre passord?</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>


</script>