<!-- include bootstrap, jquery for easy div manipulation -->
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<style type="text/css">

    html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        background: #525252;
        color: #ffffff;
        font-family: 'Fjalla One', sans-serif;
    }

    h6 {
        size: 48px;
    }

    .modal-header {
        color: black;
    }

    .modal-body {
        color: black;
    }

    .container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-sm-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-sm-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-sm-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-sm-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-sm-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-sm-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-sm-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-sm-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-sm-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-sm-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-sm-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
        position: relative;
        min-height: 1px;
        padding-right: 0;
        padding-left: 0;
        margin-top: 3px;
        margin-bottom: 7px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .glyphicon {
        font-size: 50px;
        opacity: 0.8;
    }

    .glyphicon.glyphicon-fire {
        color: #ff9900;

    }

    .glyphicon.glyphicon-tint {
        color: #00B7FF;
    }

    .glyphicon.glyphicon-cloud {
        color: #1CA347;
    }

    .glyphicon.glyphicon-asterisk {
        color: red;
    }

    .glyphicon.glyphicon-minus {
        color: red;
    }

    .glyphicon.glyphicon-warning-sign {
        color: yellow;
        font-size: 20px;
    }

    #webCam {
        width: 100%;
        max-width: 640px;
        margin: 0px auto;
        display: block;
        margin-top: 20px;
    }
</style>

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
    var socket = io();
    var socketAlarmTrig = false;

    socket.on('serialEvent', function (data) {

        var flameValue = document.getElementById('flameValue');
        flameReading(data);
        var gasValue = document.getElementById('gasValue');
        gasReading(data);
        var leakValue = document.getElementById('leakValue');
        leakReading(data);
        var laserValue = document.getElementById('laserValue');
        laserReading(data);
        var vibeValue = document.getElementById('vibeValue');
        vibeReading(data);
        var irValue = document.getElementById('irValue');
        irReading(data);
    });

    socket.on('streamCam', function (url) {
        $('#webCam').attr('src', url);
        $('.start').hide();
    });

    socket.emit('streamCam');

    function flameReading(data) {
        var flameSensorValue = data.Flame;
        if (flameSensorValue == 1) {
            flameValue.innerHTML = "OK"
            flameValue.style.color = "green";
        } else {
            flameValue.innerHTML = "{{__ "Visible-Flame"}}";
            flameValue.style.color = "red";
        }
    }
    ;

    // Må kalibreres mot en gass
    function gasReading(data) {
        var gasSensorValue = data.Gas;
        if (gasSensorValue <= 300) {
            gasValue.innerHTML = "OK";
            gasValue.style.color = "green";
        } else {
            gasValue.innerHTML = "{{__ "Gas-Detection"}}";
            gasValue.style.color = "red";
        }
    }
    ;

    function leakReading(data) {
        var leakSensorValue = data.LeakValue;
        if (leakSensorValue > 970) {
            leakValue.innerHTML = "OK";
            leakValue.style.color = "green";
        } else {
            leakValue.innerHTML = "{{__ "Leak-Detection"}}";
            leakValue.style.color = "red";
        }
    }
    ;

    function laserReading(data) {
        var laserSensorValue = data.Laser;
        if (laserSensorValue == 0) {
            laserValue.innerHTML = "OK";
            laserValue.style.color = "green";
        } else {
            laserValue.innerHTML = "{{__ "Laser-Trip"}}";
            laserValue.style.color = "red";
        }
    }
    ;

    function vibeReading(data) {
        var vibeSensorValue = data.VibeValue;
        if (vibeSensorValue == 0) {
            vibeValue.innerHTML = "OK";
            vibeValue.style.color = "green";
        } else {
            vibeValue.innerHTML = "{{__ "Vibe-Detection"}}";
            vibeValue.style.color = "red";
        }

    }
    ;

    function irReading(data) {
        var irSensorValue = data.IRBarrierValue;
        if (irSensorValue == 1) {
            irValue.innerHTML = "OK";
            irValue.style.color = "green";
        } else {
            irValue.innerHTML = "{{__ "IR-Detection"}}";
            irValue.style.color = "red";
        }
    }
    ;
    $()

</script>
</head>

<div class="container" id="sensordata">

    <div class="col-md-6">

        <div class="row" id="flameSensor">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <h6>Flammesensor</h6>
            </div>
            <div class="col-md-8">
                <h3 id="flameValue"></h3>
            </div>
        </div>

        <div class="row" id="gasSensor">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-cloud " aria-hidden="true"></span><span
                    class="glyphicon glyphicon-warning-sign " aria-hidden="true"></span>
                <h6>Gass sensor</h6>
            </div>
            <div class="col-md-8">
                <h3 id="gasValue"></h3>
            </div>
        </div>

        <div class="row" id="leakSensor">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                <h6>Lekasjesensor</h6>
            </div>
            <div class="col-md-8">
                <h3 id="leakValue"></h3>
            </div>
        </div>

        <div class="row" id="laserSensor">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-asterisk"
                                                                     aria-hidden="true"></span>
                <h6>Laserbarriere</h6>
            </div>
            <div class="col-md-8">
                <h3 id="laserValue"></h3>
            </div>
        </div>

        <div class="row" id="IRbarrier">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                <h6>IR barriere</h6>
            </div>
            <div class="col-md-8">
                <h3 id="irValue"></h3>
            </div>
        </div>

        <div class="row" id="vibeSensor">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                <h6>Vibrasjon</h6>
            </div>
            <div class="col-md-8">
                <h3 id="vibeValue"></h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="" id="webCam">
    </div>
</div>
<div class="container">
    <div class=col-md-12>
        <div class="row">
            <div class="col-md-3">
                <!--
                <input type="checkbox" id="toggle" data-toggle="toggle" data-on="Deaktiver alarm"
                       data-off="Aktiver alarm" onclick=alarmToggle()>

                <input type="checkbox" id="toggle" onclick="alarmToggle()">
                -->
                <button id="toggle" type="button" onclick="alarmToggle()">Aktiver Alarm</button>
                <div class="modal fade" id="activateAlarmPw">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4><span class="glyphicon glyphicon-lock"></span> Aktiver alarm</h4>
                            </div>
                            <div class="modal-body">
                                <p>Skriv inn passord for å aktivere alarmen</p>
                                <input id="pw" type="password" placeholder="*******" style="color: #0f0f0f">
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnCancelAcAlarm" class="btn btn-default">Avbryt</button>
                                <button type="button" id="btnActivateAlarm" class="btn btn-save">Aktiver</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deactivateAlarmPw">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4><span class="glyphicon glyphicon-home"></span> Deaktiver alarm</h4>
                            </div>
                            <div class="modal-body">
                                <p>Skriv inn passord for å deaktivere alarmen</p>
                                <input id="pw" type="password" placeholder="*******" style="color: #0f0f0f">
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnCancelDeacAlarm" class="btn btn-default">Avbryt</button>
                                <button type="button" id="btnDeactivateAlarm" class="btn btn-save">Deaktiver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Script for aktivering/deaktivering av alarm, skal sørge for at slideren holdes oppdatert
    var toggleState = false;

    function alarmToggle() {
        if(!toggleState){
            toggleState = true;
            $('#activateAlarmPw').modal('show');
        }else{
            $('#deactivateAlarmPw').modal('show');
            toggleState = false;
        }
        /*
        console.log('alarmToggle aktivert')
        if ($('#toggle').prop('checked') == true) {
            toggleState = true;
            console.log('Togglestate : '+toggleState);
            $('#activateAlarmPw').modal('show');
        } else {
            toggleState = false;
            $('#deactivateAlarmPw').modal('show');
            console.log('Togglestate : '+toggleState);
        }
        */
    };


    $('#btnActivateAlarm').click(function () {
        var pwInput = $('#pw').val();
        if (pwInput == 1234) {
            $('#activateAlarmPw').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            //$('#toggle').button('Deaktiver alarm')
            //$('#toggle').button('reset').addClass='btn btn-danger';
            $('#toggle').html ('Deaktiver alarm ');
            $('#toggle').css("background-color","red");
        } else {
            console.log('Kan ikke aktivere alarm - feil passord')
        }
    });

    // Cancel knapp i aktiver alarm modal
    $('#btnCancelAcAlarm').click(function () {
        toggleState=false;
        //$('#toggle').bootstrapToggle('off');
        $('#activateAlarmPw').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    });

    // Deaktiver alarm knapp i deaktiver alarm modal
    $('#btnDeactivateAlarm').click(function () {
        var pwInput = $('#pw').val();
        if (pwInput == 1234) {
            $('#deactivateAlarmPw').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        }else{
            console.log('kan ikke deaktivere alarm - feil passord')
        }
    });

    // Cancel knapp i deaktiver alarm modal
    $('#btnCancelDeacAlarm').click(function () {
        toggleState = true;
        //$('#toggle').bootstrapToggle('on');
        $('#deactivateAlarmPw').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    });

    function activateAlarm() {
        console.log("alarmen er aktivert ")
        socket.emit('alarmActivated');
    }


    $('#alarmToggle').change(function () {

        if (!socketAlarmTrig) {
            if ($("#alarmToggle").prop("checked") == true) {
                socket.emit('alarmOn', 'on\n');
            } else {
                socket.emit('alarmOff', 'off\n');
            }
        } else {
            socketAlarmTrig = false;
        }
    });

    socket.on('alarmOn', function () {
        socketAlarmTrig = true;
        $('#alarmToggle').prop('checked');
    });
    socket.on('alarmOff', function () {
        socketAlarmTrig = true;
        $('#alarmToggle').prop('checked');

    });

*/
</script>


