<!-- include bootstrap, jquery for easy div manipulation -->

<style type="text/css">
    body {
        background: #525252;
        color: #ffffff;
    }

    .glyphicon {
        font-size: 50px;
        opacity: 0.8;
    }

    .glyphicon:hover {
        opacity: 1.0;
    }

    .glyphicon.glyphicon-fire {
        color: #ff9900;

    }

    .glyphicon.glyphicon-tint {
        color: #00B7FF;
    }

    .glyphicon.glyphicon-cloud {
        color: #1CA347;
    }

    .glyphicon.glyphicon-asterisk {
        color: red;
    }

    .glyphicon.glyphicon-minus {
        color: red;
    }

    .glyphicon.glyphicon-warning-sign {
        color: yellow;
        font-size: 20px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /*

    .switch input {display:none;}


    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }


    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
*/
    #webCam {
        width: 100%;
        max-width: 640px;
        margin: 0px auto;
        display: block;
        margin-top: 20px;
    }
</style>

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
    var socket = io();

    socket.on('serialEvent', function (data) {

        var flameValue = document.getElementById('flameValue');
        flameReading(data);
        var gasValue = document.getElementById('gasValue');
        gasReading(data);
        var leakValue = document.getElementById('leakValue');
        leakReading(data);
        var laserValue = document.getElementById('laserValue');
        laserReading(data);
        var vibeValue = document.getElementById('vibeValue');
        vibeReading(data);
        var irValue = document.getElementById('irValue');
        irReading(data);
    });

    socket.on('streamCam', function (url) {
        $('#webCam').attr('src', url);
        $('.start').hide();
    });

    socket.emit('streamCam');

    function flameReading(data) {
        var flameSensorValue = data.Flame;
        if (flameSensorValue == 1) {
            flameValue.innerHTML = "OK"
            flameValue.style.color = "green";
        } else {
            flameValue.innerHTML = "{{__ "Visible-Flame"}}";
            flameValue.style.color = "red";
        }
    }
    ;

    // Må kalibreres mot en gass
    function gasReading(data) {
        var gasSensorValue = data.Gas;
        if (gasSensorValue <= 300) {
            gasValue.innerHTML = "OK";
            gasValue.style.color = "green";
        } else {
            gasValue.innerHTML = "{{__ "Gas-Detection"}}";
            gasValue.style.color = "red";
        }
    }
    ;

    function leakReading(data) {
        var leakSensorValue = data.LeakValue;
        if (leakSensorValue > 970) {
            leakValue.innerHTML = "OK";
            leakValue.style.color = "green";
        } else {
            leakValue.innerHTML = "{{__ "Leak-Detection"}}";
            leakValue.style.color = "red";
        }
    }
    ;

    function laserReading(data) {
        var laserSensorValue = data.Laser;
        if (laserSensorValue == 0) {
            laserValue.innerHTML = "OK";
            laserValue.style.color = "green";
        } else {
            laserValue.innerHTML = "{{__ "Laser-Trip"}}";
            laserValue.style.color = "red";
        }
    }
    ;

    function vibeReading(data) {
        var vibeSensorValue = data.VibeValue;
        if (vibeSensorValue == 0) {
            vibeValue.innerHTML = "OK";
            vibeValue.style.color = "green";
        } else {
            vibeValue.innerHTML = "{{__ "Vibe-Detection"}}";
            vibeValue.style.color = "red";
        }

    }
    ;

    function irReading(data) {
        var irSensorValue = data.IRBarrierValue;
        if (irSensorValue == 1) {
            irValue.innerHTML = "OK";
            irValue.style.color = "green";
        } else {
            irValue.innerHTML = "{{__ "IR-Detection"}}";
            irValue.style.color = "red";
        }
    }
    ;
</script>
</head>

<div class="container" id="sensordata">
    <div class="col-md-6 col-xs-4">
        <div class="row" id="flameSensor">
            <div class="col-md-4 col-xs-2">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <h6>Flammesensor</h6>
            </div>
            <div class="col-md-8 col-xs-10">
                <h3 id="flameValue"></h3>
            </div>
        </div>
        <div class="row" id="gasSensor">
            <div class="col-md-4 col-xs-2">
                <span class="glyphicon glyphicon-cloud " aria-hidden="true"></span><span
                    class="glyphicon glyphicon-warning-sign " aria-hidden="true"></span>
                <h6>Gass sensor</h6>
            </div>
            <div class="col-md-8 col-xs-10">
                <h3 id="gasValue"></h3>
            </div>
        </div>

        <div class="row" id="leakSensor">
            <div class="col-md-4 col-xs-2">
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                <h6>Lekasjesensor</h6>
            </div>
            <div class="col-md-8 col-xs-10">
                <h3 id="leakValue"></h3>
            </div>
        </div>

        <div class="row" id="laserSensor">
            <div class="col-md-4 col-xs-2">
                </span><span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-asterisk"
                                                                            aria-hidden="true"></span>
                <h6>Laserbarriere</h6>
            </div>
            <div class="col-md-8 col-xs-10">
                <h3 id="laserValue"></h3>
            </div>
        </div>

        <div class="row" id="IRbarrier">
            <div class="col-md-4 col-xs-2">
                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                <h6>IR barriere</h6>
            </div>
            <div class="col-md-8 col-xs-10">
                <h3 id="irValue"></h3>
            </div>
        </div>

        <div class="row" id="vibeSensor">
            <div class="col-md-4 col-xs-2">
                <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                <h6>Vibrasjon</h6>
            </div>
            <div class="col-md-8 col-xs-10">
                <h3 id="vibeValue"></h3>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-8">
        <img src="" id="webCam">
    </div>
</div>



