<div class="col-md-12">
    <div id="sensorInfoPanel" class="panel col-md-6 col-xs-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sensor</th>
                <th>Verdi</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{__ "Home-TempInside"}}</td><td></td>
            </tr>
            <tr>
                <td id="temp">{{__ "Home-Temp"}}</td>
                <td id="tempValue">No value</td>
            </tr>
            <tr>
                <td id="hum">{{__ "Home-Hum"}}</td>
                <td id="humValue">No value</td>
            </tr>
            <tr>
            <td>{{__ "Home-TempOutside"}}</td><td></td>
            </tr>
            <tr>
                <td>{{__ "Home-Temp"}}</td>
                <td id="tempOut1">No value</td>
            </tr>
            <tr>
                <td>{{__ "Home-Temp"}}</td>
                <td id="tempOut2">No value</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="sensorAlerts" class="panel col-md-6 col-xs-6 pull-right">
        <h3 id="status" align="center">Sensorstatus</h3>
        <hr>
        <p id="sensorWarningGlyphicon" class="glyphicon glyphicon-ok"></p>
        <table id="sensorWarningsTable" class="table">
            <tbody>

            </tbody>
        </table>
        <h3 id="noWarningsHeader">All good!</h3>
    </div>
</div>


<div id="eventList" class="panel col-md-12 col-xs-12">
    <table id="calendarEventList" class="display "></table>
</div>

<style type="text/css">


    #status {
        margin-top: 10px;
        height: 13px;
    }

    .glyphicon.glyphicon-ok {
        color: green;
        font-size: 100px;
        opacity: 0.8;
    }

    .table thead th {
        font-size: 20px;
        margin-bottom: 30px;
        height: 30px;
        width: 100%
    }

    .table thead th tr td {
        font-size: 20px;
        height: 93px;
        width: 100%
    }

    #sensorInfoPanel {
        background-color: white;
        width: 49%;
        height: 45%;
    }

    #sensorAlerts {
        background-color: white;
        width: 49%;
        height: 45%;
    }

    #eventList {
        background-color: white;
        height: 40%;
        margin-top: 10px;
    }

    #hum {
        width: 10%
    }

    #temp {
        width: 10%
    }
</style>