<script src="/js/security/alarmToggle.js"></script>

<div class="container">
    <div class=col-md-12>
        <div class="row">
            <div class="col-md-3">
                <h3>Alarm:</h3>
                <button id="alarmButton" type="button">{{__ "Act-Alarmbtn"}}</button>

                <div class="modal fade" id="activateAlarmModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4><span class="glyphicon glyphicon-lock"></span>{{__ "Act-Alarm"}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{__ "ActAlarm-Pw"}}</p>
                                <input id="passwordInputActivate" type="password" placeholder="*******" style="color: #0f0f0f" autofocus>
                                <div class="alert alert-error" id="pwErrorAct" hidden>
                                    <span>
                                         <p class="pwError">{{__ "Alarm-PwErr"}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="buttonChangeAlarmPassword btn btn-primary pull-left" data-dismiss="modal"><i class="glyphicon glyphicon-edit"></i> {{__ "Change-Password"}}</button>
                                <button type="button" id="buttonActivateAlarm" class="btn btn-success" >{{__ "Activate-ActAlarm"}}</button>
                                <button type="button" data-dismiss="modal" class="btn btn-default">{{__ "Cancel-ActAlarm"}}</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="deactivateAlarmModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4><i class="fa fa-key" style="font-size:50px;"></i></span>{{__ "Deac-Alarm"}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{__ "DeacAlarm-Pw"}}</p>
                                <input id="passwordInputDeactivate" type="password" placeholder="*******" style="color: #0f0f0f" autofocus>
                                <div class="alert alert-error" id="pwErrorDeac" hidden>
                                     <span>
                                            <p class="pwError">{{__ "Alarm-PwErr"}}</p>
                                     </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="buttonChangeAlarmPassword btn btn-primary pull-left" data-dismiss="modal"><i class="glyphicon glyphicon-edit"></i> {{__ "Change-Password"}}</button>
                                <button type="button" id="buttonDeactivateAlarm" class="btn btn-danger">{{__ "Activate-DeacAlarm"}}</button>
                                <button type="button" data-dismiss="modal" class="btn btn-default">{{__ "Cancel-DeacAlarm"}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>